body {
    width: 780px;
    margin: 100px auto;
    background: #ffffff;
    background: rgb(255, 255, 255);
}

.todolists {
    margin: 30px auto;
}

h1 {
    text-align: left;
}

.head {
    text-align: center;
    color: #727272;
}

.form search {
    border: 1px solid #727272;
}

.login-page {
    float: right;
    width: 400px;
    margin: auto;
    color: grey;
    font-size: 14px;
}

.form {
    background: #fffefe;
    /* border: 2px solid rgb(109, 109, 109);
    border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px; */
    max-width: 400px;
    margin: 0 auto 20px;
    padding: 25px;
    text-align: center;
}

.form input {
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(109, 109, 109);
    padding: 5px 10px;
    margin: 0 0 15px;
}

.form button {
    text-transform: uppercase;
    outline: 0;
    background: #C6C09C;
    width: 50%;
    border: 0;
    margin-top: 10px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #979276;
}
