/* 共通のCSS */
body {
    width: 850px;
    margin: 100px auto;
    color: rgb(68, 68, 68);
}

.contents {
    padding: 70px;
    border: 2px solid rgb(109, 97, 80);
    border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
}

h2 {
    color: rgb(109, 97, 80);
    border-bottom: #f8c994 5px dashed;
    display: inline-block;
}

.margin {
    margin-right: 10px;
}

/* Todoリスト画面のCSS */
.logout {
    width: 100%;
    text-align: right;
    border: none;
    outline: none;
    background-color: #fff;
    color: rgb(109, 97, 80);
}

.txt1 {
    border: none;
    outline: none;
    width: 10em;
    max-width: 100%;
    padding: 0.5em;
    border-bottom: solid 1px rgb(68, 68, 68);
    box-sizing: border-box;
}

.table1 {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
}

.todolists {
    margin-top: 10px;
}

/* 新規登録画面のCSS */
.table2 {
    text-align: center;
    margin: 80px auto;
    width: 100%;
}

.txt2 {
    border: none;
    outline: none;
    width: 300px;
    padding: 10px;
    border-bottom: solid 1px rgb(68, 68, 68);
    box-sizing: border-box;
}
